!!!
html
  head
    
    title= "Canary"
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
    script(src="/javascripts/highcharts.js")
    script(src="/socket.io/socket.io.js")

    script(src="/javascripts/main.js")

  body!= body