
div#main.container
  div.navbar.navbar-fixed-top
    div.navbar-inner
      div.container
        a.brand="Vhosts Intern"
  div#wrapper
    form#vhost-search.well.form-search.search
      input(type="text",class="input-medium search-query", placeholder="search")
  



  
  