<VirtualHost *:80>
        ServerAdmin webmaster@localhost
        ServerName *ServerName*
        DocumentRoot *DocumentRoot*
        <Directory *Directory*>
                Options Indexes FollowSymLinks MultiViews
                AllowOverride All
                Order allow,deny
                allow from all
        </Directory>
</VirtualHost>