

ul#vhosts {
  margin-top: 60px;
}

ul#vhosts li.vhost {
  margin-top: 15px;
  margin-bottom: 15px;
}

ul#vhosts li.vhost h2{
  margin-bottom: 5px;
}

ul#vhosts li.vhost form {
}

ul#vhosts li.vhost form .configdata {
  height: 200px; 
}